<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <title>Vue Form: Shopping List</title>
    <style>
        form {
          border: dashed black 1px;
          width: 200px;
          padding: 20px;
        }
        li{text-transform:capitalize;}
        
      </style>
</head>
<body>
    <h1>Example: Shopping List</h1>
    <div id="app">
        <form v-on:submit.prevent="addItem">
            <p>
            What do you need?
            <input type="text" required placeholder="item name.." v-model="itemName">
            </p>
            <p>
            How many?
            <input type="number" placeholder="number of items.." v-model="itemNumber">
            </p>
            <button type="submit">Add item</button>
        </form>

        <div>
            <p>Shopping list:</p>
            <ul>
            <li v-for="item in shoppingList">{{ item.name }}, {{ item.number}}</li>
            </ul>
        </div>
    </div>
    <script src="app.js"></script>
</body>
</html>